{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Buat daftar Laundry</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'laundry:create_laundry' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <select name="email" id="email" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for d in data  %}
        <option value="{{ d.0 }}">{{ d.0 }}</option>
        {% endfor %}
      </select>
      <small class="form-text text-danger">{{ error }}</small>
    </div>
    <div class="form-group">
      <label for="tanggal">Tanggal Transaksi</label>
      <select name="tanggal" id="tanggal" class="form-control" required>
        <option selected disabled>Pilih...</option>
        <div id="select-tanggal">
          {% for d in data  %}
          <option class="option-tanggal d-none" data-email="{{ d.0 }}" value="{{ d.1 }}">{{ d.1 }}</option>
          {% endfor %}
          </div>
      </select>
    </div>
    <div class="form-group">
      <label for="jumlah_item">Jumlah Item.</label>
      <input
        required
        type="number"
        class="form-control"
        id="jumlah_item"
        name="jumlah_item"
      />
    </div>
    
    <div class="form-group">
      <label for="kode_item">Kode Item</label>
      <select name="kode_item" id="kode_item" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for k in daftar_kode %}
        <option value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        Buat Daftar Laundry
      </button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
<script>
  $('select#email').change(() => {
    $('.option-tanggal').addClass('d-none')
    $('.option-tanggal').each((i, el) => {
      if ($(el).data("email") == $('select#email').val()) {
        $(el).removeClass('d-none')
      }
    })
  })
</script>
{% endblock js %}