{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %} {% block content %}
<h3 class="text-center mt-5">Daftar Laundry</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">No Urut</th>
        <th scope="col">
          Jumlah <br />
          Item
        </th>
        <th scope="col">
          Kode <br />
          Item
        </th>
        {% if request.session.user_role == 'staff' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for laundry in data %}  
      <tr>
        <td>{{ laundry.0 }}</td>
        <td>{{ laundry.1 }}</td>
        <td>{{ laundry.2 }}</td>
        <td>{{ laundry.3 }}</td>
        <td>{{ laundry.4 }}</td>
        {% if request.session.user_role == 'staff' %}          
        <td>
          <div class="d-flex">
            <form action="{% url 'laundry:update_laundry' %}" method="get">
              <input type="email" name="email" value="{{ laundry.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ laundry.1 }}" hidden>
              <input type="number" name="no_urut" value="{{ laundry.2 }}" hidden>
              <input type="number" name="jumlah" value="{{ laundry.3 }}" hidden>
              <input type="text" name="kode" value="{{ laundry.4 }}" hidden>
              <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'laundry:delete_laundry' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" value="{{ laundry.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ laundry.1 }}" hidden>
              <input type="number" name="no_urut" value="{{ laundry.2 }}" hidden>
              <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
