{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Update Laundry</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'laundry:update_laundry' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        readonly
        required
        value="{{ email }}"
        type="email"
        class="form-control"
        id="email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="tanggal_transaksi">Tanggal Transaksi</label>
      <input
        readonly
        required
        value="{{ tanggal }}"
        type="datetime"
        class="form-control"
        id="tanggal_transaksi"
        name="tanggal"
      />
    </div>
    <div class="form-group">
      <label for="no_urut">Nomor Urut</label>
      <input
        required
        readonly
        value="{{ no_urut }}"
        type="number"
        class="form-control"
        id="no_urut"
        name="no_urut"
      />
    </div>
    <div class="form-group">
      <label for="jumlah_item">Jumlah Item</label>
      <input
        required
        value="{{ jumlah }}"
        type="number"
        class="form-control"
        id="jumlah_item"
        name="jumlah_item"
      />
    </div>
    <div class="form-group">
      <label for="kode_item">Kode Item</label>
      <select name="kode_item" id="kode_item" class="form-control" required>
        {% for k in daftar_kode %}
        <option {% if k.0 == kode %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div>
  
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
  <script>
    window.history.replaceState({}, document.title, "/daftar-laundry/update/");
  </script>
{% endblock js %} 