{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %}
{% block title %} Daftar Status {% endblock %}
{% block content %}
<h3 class="text-center mt-5">Daftar Status</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Kode Status</th>
        <th scope="col">Nama Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Dipesan</td>
      </tr><tr>
        <td>2</td>
        <td>Diproses</td>
      </tr><tr>
        <td>3</td>
        <td>Siap diambil</td>
      </tr><tr>
        <td>4</td>
        <td>Diantar</td>
      </tr><tr>
        <td>5</td>
        <td>Selesai</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
