{% extends 'base.html' %} {% block content %}
<main class="d-flex justify-content-center align-items-center flex-column py-5">
  <h2 class="mt-5">Sistem Informasi Laundry</h2>
  <h1>D'Laundry</h1>
  <div class="d-flex mt-5">
    {% if request.session.user_email %}
    <a class="btn btn-danger my-2 my-sm-0" href="{% url 'autentikasi:logout' %}">Logout</a>
    {% else %}
    <a class="btn btn-secondary my-2 my-sm-0" href="{% url 'autentikasi:login' %}">Login</a>
    <a class="btn btn-success my-2 ml-2 my-sm-0" href="{% url 'autentikasi:register' %}">Register</a>
    {% endif %}
  </div>
</main>
{% endblock content %}
