{% extends 'base.html' %} {% block content %}
<main class="d-flex justify-content-center align-items-center flex-column py-5">
  <h1 class="mb-4">Login</h1>
  <form
    method="POST"
    action="{% url 'autentikasi:login' %}"
    class="d-flex flex-column col-lg-4 col-md-6 col-11"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Masukkan  email"
      />
      <small class="form-text text-danger">{{ error }}</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</main>
{% endblock content %}
