{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">FORM TESTIMONI</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'testimoni:create_testimoni' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <select name="email" id="email" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for d in data  %}
        <option value="{{ d.0 }}">{{ d.0 }}</option>
        {% endfor %}
      </select>
      <small class="form-text text-danger">{{ error }}</small>
    </div>
    <div class="form-group">
      <label for="tanggalTransaksi">Tanggal Transaksi</label>
      <select name="tanggalTransaksi" id="tanggalTransaksi" class="form-control" required>
        <option selected disabled>Pilih...</option>
        <div id="select-tanggal">
          {% for d in data  %}
          <option class="option-tanggal d-none" data-email="{{ d.0 }}" value="{{ d.1 }}">{{ d.1 }}</option>
          {% endfor %}
          </div>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <input
        required
        type="text"
        class="form-control"
        id="status"
        name="status"
      />
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        required
        type="number"
        class="form-control"
        id="rating"
        name="rating"
        min="1"
        max="5"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        SUBMIT
      </button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
<script>
  $('select#email').change(() => {
    $('.option-tanggal').addClass('d-none')
    $('.option-tanggal').each((i, el) => {
      if ($(el).data("email") == $('select#email').val()) {
        $(el).removeClass('d-none')
      }
    })
  })
</script>
{% endblock js %}
