{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
</style>
{% endblock css %} {% block content %}
<h3 class="text-center mt-5">Daftar Testimoni</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal Transaksi</th>
        <th scope="col">Tanggal Testimoni</th>
        <th scope="col">Status</th>
        <th scope="col">Rating</th>
        {% if request.session.user_role == 'pelanggan' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for testimoni in data %}
      <tr>
        <td>{{ testimoni.0 }}</td>
        <td>{{ testimoni.1 }}</td>
        <td>{{ testimoni.2 }}</td>
        <td>{{ testimoni.3 }}</td>
        <td>{{ testimoni.4 }}</td>
        {% if request.session.user_role == "pelanggan" %}          
        {% if request.session.user_email == testimoni.0 %}
        <td>
          <div class="d-flex">
            <form action="{% url 'testimoni:update_testimoni' %}" method="get">
              <input type="email" name="email" value="{{ testimoni.0 }}" hidden>
              <input type="datetime" name="tanggalTransaksi" value="{{ testimoni.1 }}" hidden>
              <input type="datetime" name="tanggalTestimoni" value="{{ testimoni.2 }}" hidden>
              <input type="text" name="status" value="{{ testimoni.3 }}" hidden>
              <input type="number" name="rating" value="{{ testimoni.4 }}" hidden>
              <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'testimoni:delete_testimoni' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" value="{{ testimoni.0 }}" hidden>
              <input type="datetime" name="tanggalTransaksi" value="{{ testimoni.1 }}" hidden>
              <input type="datetime" name="tanggalTestimoni" value="{{ testimoni.2}} " hidden>
              <input type="text" name="status" value="{{ testimoni.3 }}" hidden>
              <input type="number" name="rating" value="{{ testimoni.4 }}" hidden>
              <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% else %}
        <td>Not Allowed</td>
        {% endif %}
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if request.session.user_role == 'pelanggan' %}
<div class="d-flex justify-content-center">
  <a class="btn btn-primary mt-4" href="{%url 'testimoni:create_testimoni' %}"> Buat Testimoni </a>
</div>
{% endif %}

{% endblock content %}
