{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">FORM UPDATE TESTIMONI</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'testimoni:update_testimoni' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        readonly
        required
        value="{{ email }}"
        type="email"
        class="form-control"
        id="email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="tanggalTransaksi">Tanggal Transaksi</label>
      <input
        readonly
        required
        value="{{ tanggalTransaksi }}"
        type="datetime"
        class="form-control"
        id="tanggalTransaksi"
        name="tanggalTransaksi"
      />
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input
        required
        value="{{ status }}"
        type="text"
        class="form-control"
        id="status"
        name="status"
      />
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        required
        value="{{ rating }}"
        type="number"
        class="form-control"
        id="rating"
        name="rating"
        min="1"
        max="5"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        UPDATE
      </button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
  <script>
    window.history.replaceState({}, document.title, "/daftar-testimoni/update/");
  </script>
{% endblock js %} 
