{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %} {% block content %}
<h3 class="text-center mt-5">Daftar Layanan</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Kode Layanan</th>
        <th scope="col">Nama Layanan</th>
        <th scope="col">Durasi (menit)</th>
        <th scope="col">Harga (per Kg)</th>
        {% if request.session.user_role == 'staff' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for layanan in data %}
      <tr>
        <td>{{ layanan.0 }}</td>
        <td>{{ layanan.1 }}</td>
        <td>{{ layanan.2 }}</td>
        <td>{{ layanan.3 }}</td>
        {% if request.session.user_role == 'staff' %}          
        <td>
          <div class="d-flex">
            <form action="{% url 'layanan:update_layanan' %}" method="get">
              <input type="text" name="kodeLayanan" value="{{ layanan.0 }}" hidden>
              <input type="text" name="namaLayanan" value="{{ layanan.1 }}" hidden>
              <input type="text" name="durasi" value="{{ layanan.2 }}" hidden>
              <input type="number" name="harga" value="{{ layanan.3 }}" hidden>
              <button class="btn btn-primary mr-2">Update</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
