{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Update Layanan</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'layanan:update_layanan' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="kodeLayanan">Kode Layanan</label>
      <input
        readonly
        required
        value="{{ kodeLayanan }}"
        type="text"
        class="form-control"
        id="kodeLayanan"
        name="kodeLayanan"
      />
    </div>
    <div class="form-group">
      <label for="namaLayanan">Nama Layanan</label>
      <input
        required
        value="{{ namaLayanan }}"
        type="text"
        class="form-control"
        id="namaLayanan"
        name="namaLayanan"
      />
    </div>
    <div class="form-group">
      <label for="durasi">Durasi</label>
      <input
        required
        value="{{ durasi }}"
        type="text"
        class="form-control"
        id="durasi"
        name="durasi"
      />
    </div>
    <div class="form-group">
      <label for="harga">Harga (per Kg)</label>
      <input
        required
        value="{{ harga }}"
        type="number"
        class="form-control"
        id="harga"
        name="harga"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
  <script>
    window.history.replaceState({}, document.title, "/daftar-layanan/update/");
  </script>
{% endblock js %} 
