{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Buat Transaksi Baru</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'transaksi_laundry:create_transaksi' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <select name="email" id="email" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for k in daftar_email %}
        <option value="{{ k.0 }}">{{ k.0 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="berat">Berat</label>
      <input
        required
        type="number"
        class="form-control"
        id="berat"
        name="berat"
      />
    </div>
    <div class="form-group">
      <label for="total_item">Total Item</label>
      <input
        required
        type="number"
        class="form-control"
        id="total_item"
        name="total_item"
      />
    </div>
    <div class="form-group">
      <label for="kode_layanan">Kode Layanan</label>
      <select name="kode_layanan" id="kode_layanan" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for k in daftar_layanan %}
        <option value="{{ k.0 }}">{{ k.0 }} : {{ k.3 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="kode_tarif">Kode Tarif</label>
      <select name="kode_tarif" id="kode_tarif" class="form-control">
        <option selected disabled>Pilih...</option>
        {% for k in daftar_tarif %}
        <option value="{{ k.0 }}">{{ k.0 }} : {{ k.3 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="total_biaya">Total Biaya</label>
      <input
        required
        type="number"
        class="form-control"
        id="total_biaya"
        name="total_biaya"
      />
    </div>
    <div class="form-group">
      <label for="email_staf">Email Staff</label>
      <select name="email_staf" id="email_staf" class="form-control" required>
        <option selected disabled>Pilih...</option>
        {% for k in daftar_staf %}
        <option value="{{ k.0 }}">{{ k.0 }}</option>
        {% endfor %}
      </select>    
    </div>
    <div class="form-group">
      <label for="email_kurir">Email Kurir</label>
      <select name="email_kurir" id="email_kurir" class="form-control">
        <option selected disabled>Pilih...</option>
        {% for k in daftar_kurir %}
        <option value="{{ k.0 }}">{{ k.0 }}</option>
        {% endfor %}
      </select> 
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        Buat Transaksi
      </button>
    </div>
  </form>
</div>
{% endblock content %}
