
{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    overflow-x: auto !important;
  }
  table {
    width: 80vw !important;
  }
</style>
{% endblock css %} {% block content %}
<h3 class="text-center mt-5">Daftar Transaksi</h3>
{% if request.session.user_role == 'staff' %}
<p class="text-center">Scroll ke kanan untuk melihat action</p>
{% endif %}
<div id="table-container" class="">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Berat(kg)</th>
        <th scope="col">
          Total <br />
          Item
        </th>
        <th scope="col">
          Kode <br />
          Layanan
        </th>
        <th scope="col">
          Kode <br />
          Tarif
        </th>
        <th scope="col">Total Biaya</th>
        <th scope="col">Email Staff</th>
        <th scope="col">Email Kurir</th>
        {% if request.session.user_role == 'staff' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for x in data %}
      <tr>
        {% for y in x %}
        <td>{{ y }}</td>
        {% endfor %}
        {% if request.session.user_role == 'staff' %}          
        <td>
          <div class="d-flex">
            <form action="{% url 'transaksi_laundry:update_transaksi' %}" method="get">
              <input type="email" name="email" value="{{ x.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ x.1 }}" hidden>
              <input type="number" name="berat" value="{{ x.2 }}" hidden>
              <input type="number" name="total_item" value="{{ x.3 }}" hidden>
              <input type="text" name="kode_layanan" value="{{ x.4 }}" hidden>
              <input type="text" name="kode_tarif" value="{{ x.5 }}" hidden>
              <input type="number" name="total_biaya" value="{{ x.6 }}" hidden>
              <input type="email" name="email_staf" value="{{ x.7 }}" hidden>
              <input type="email" name="email_kurir" value="{{ x.8 }}" hidden>
              <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'transaksi_laundry:delete_transaksi' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" value="{{ x.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ x.1 }}" hidden>
              <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}
