{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Update Transaksi</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'transaksi_laundry:update_transaksi' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        readonly
        required
        value="{{ email }}"
        type="email"
        class="form-control"
        id="email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="tanggal">Tanggal</label>
      <input
        readonly
        required
        value="{{ tanggal }}"
        type="datetime"
        class="form-control"
        id="tanggal"
        name="tanggal"
      />
    </div>
    <div class="form-group">
      <label for="berat">Berat</label>
      <input
      required
        value="{{ berat }}"
        type="number"
        class="form-control"
        id="berat"
        name="berat"
      />
    </div>
    <div class="form-group">
      <label for="totalitem">Total Item</label>
      <input
        required
        value="{{ total_item }}"
        type="number"
        class="form-control"
        id="total_item"
        name="total_item"
      />
    </div>
    <div class="form-group">
      <label for="kode_layanan">Kode Layanan</label>
      <select name="kode_layanan" id="kode_layanan" class="form-control" required>
        {% for k in daftar_layanan %}
        <option {% if k.0 == kode_layanan %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.3 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="kode_tarif">Kode Tarif</label>
      <select name="kode_tarif" id="kode_tarif" class="form-control" required>
        {% for k in daftar_tarif %}
        <option {% if k.0 == kode_tarif %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.3 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="total_biaya">Total Biaya</label>
      <input
        required
        value="{{ total_biaya }}"
        type="number"
        class="form-control"
        id="total_biaya"
        name="total_biaya"
      />
    </div>
    <div class="form-group">
      <label for="email_staf">Email Staff</label>
      <select name="email_staf" id="email_staf" class="form-control" required>
        {% for k in daftar_staf %}
        <option {% if k.0 == email_staf %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="email_kurir">Email Kurir</label>
      <select name="email_kurir" id="email_kurir" class="form-control" required>
        {% for k in daftar_kurir %}
        <option {% if k.0 == email_kurir %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }}</option>
        {% endfor %}
      </select>

    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
  <script>
    window.history.replaceState({}, document.title, "/transaksi-laundry/update/");
  </script>
{% endblock js %} 