{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Buat Item</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'item:create_item' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    
    <div class="form-group">
      <label for="kode_item">Kode Item.</label>
      <input
        required
        type="text"
        class="form-control"
        id="kode_item"
        name="kode_item"
      />
      <small class="form-text text-danger">{{ error }}</small>
    </div>
  
    <div class="form-group">
    <label for="nama_item">Nama Item.</label>
    <input
      required
      type="text"
      class="form-control"
      id="nama_item"
      name="nama_item"
    />
  </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">
        Buat Item
      </button>
    </div>
  </form>
</div>
{% endblock content %}
