{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %}
{% block title %} Daftar Item {% endblock %}
{% block content %}
<h3 class="text-center mt-5">Daftar Item</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Kode Item</th>
        <th scope="col">Nama Item</th>
      </tr>
    </thead>
    <tbody>
      {% for item in daftar_item %}
      <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
