<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'autentikasi:home' %}">SILAU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.session.user_email %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transaksi Laundry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.session.user_role == 'staff' %}
          <a class="dropdown-item" href="{% url 'transaksi_laundry:create_transaksi' %}">Buat Transaksi laundry</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'transaksi_laundry:read_transaksi' %}">Daftar Transaksi laundry</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transaksi Top Up DPAY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.session.user_role != 'kurir' %}
          <a class="dropdown-item" href="{% url 'transaksi_topup_dpay:create_transaksi_topup_dpay' %}">Buat Transaksi TOP UP</a>  
          {% endif %}
          <a class="dropdown-item" href="{% url 'transaksi_topup_dpay:daftar_transaksi_topup_dpay' %}">Daftar Transaksi TOP UP</a>
        </div>
      </li>
      {% if request.session.user_role == 'staff' %}
      <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Daftar Laundry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'laundry:create_laundry' %}">Buat Daftar Laundry</a>
          <a class="dropdown-item" href="{% url 'laundry:read_laundry' %}">Daftar Laundry</a>
        </div>
      </li>
      {% else %}
      {% if request.session.user_role == 'pelanggan' %}        
      <li class="nav-item">
        <a class="nav-link" href="{% url 'laundry:read_laundry' %}">Daftar Laundry</a>
      </li>
      {% endif %}
      {% endif %}
      {% if request.session.user_role != 'kurir' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'layanan:read_layanan' %}">Tarif Layanan</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'testimoni:read_testimoni' %}">Testimoni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'status:daftar_status' %}">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'status_transaksi:read_status_transaksi' %}">Status Transaksi</a>
      </li>
      {% if request.session.user_role == 'staff' %}
      <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Item
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'item:create_item' %}">Buat Item</a>
          <a class="dropdown-item" href="{% url 'item:read_item' %}">Daftar Item</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'item:read_item' %}">Daftar Item</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
      <p class="nav-link text-dark font-weight-bold mb-0">{{ request.session.user_role.capitalize }}</p>
    {% if request.session.user_email %}
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'autentikasi:logout' %}">Logout</a>
    {% else %}
    <a class="btn btn-outline-secondary my-2 my-sm-0" href="{% url 'autentikasi:login' %}">Login</a>
    <a class="btn btn-outline-success my-2 ml-2 my-sm-0" href="{% url 'autentikasi:register' %}">Register</a>
    {% endif %}
  </div>
</nav>