{% extends 'base.html' %} 
{% block title %} Create Transaksi TOP UP DPAY{% endblock %}
{% block content %}
<h3 class="mt-5 text-center">FORM CREATE TRANSAKSI TOP UP DPAY</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'transaksi_topup_dpay:daftar_transaksi_topup_dpay' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
<!-- This is mockup code
<div class="form-group">
  <label for="email">Email:</label>
  <select name="email" id="email" class="form-control" required>
    <option selected disabled></option>
    <option value="jwild0@moonfruit.com">jwild0@moonfruit.com</option>
    <option value="whender1@shutterfly.com">whender1@shutterfly.com</option>
    <option value="nwitherbed2@stanford.edu">nwitherbed2@stanford.edu</option>
  </select>
</div>
<div class="form-group">
  <label for="nominal">Nominal:</label>
  <input
    required
    type="text"
    class="form-control"
    id="nominal"
    name="nominal"
  />
</div>
-->
    {% for field in form %}
    <div class="form-group">
      {{ field }}
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">CREATE</button>
    </div>

  </form>
</div>
{% endblock content %}
