{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %}
{% block title %} Daftar Transaksi TOP UP DPAY{% endblock %}
{% block content %}
<h3 class="text-center mt-5">Daftar Transaksi TOP UP DPAY</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Nominal</th>
        {% if request.session.user_role != 'kurir' %}
        <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
<!-- This is mockup code
      <tr>
        <td>jwild0@moonfruit.com</td>
        <td>2020-01-06 18:29:24</td>
        <td>73300</td>        
        <td>
          {% if request.session.user_role != 'kurir' %}
          <div class="d-flex">
            <a href="{% url 'transaksi_topup_dpay:update_transaksi_topup_dpay' %}" class="btn btn-primary mr-2">Update</a>
            <a href="#" class="btn btn-delete btn-danger">Delete</a>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>whender1@shutterfly.com</td>
        <td>2020-08-20 14:39:32</td>
        <td>86200</td>        
        <td>
          {% if request.session.user_role != 'kurir' %}
          <div class="d-flex">
            <a href="{% url 'transaksi_topup_dpay:update_transaksi_topup_dpay' %}" class="btn btn-primary mr-2">Update</a>
            <a href="#" class="btn btn-delete btn-danger">Delete</a>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>nwitherbed2@stanford.edu</td>
        <td>2020-05-20 11:23:32</td>
        <td>84700</td>         
        <td>
          {% if request.session.user_role != 'kurir' %}
          <div class="d-flex">
            <a href="{% url 'transaksi_topup_dpay:update_transaksi_topup_dpay' %}" class="btn btn-primary mr-2">Update</a>
            <a href="#" class="btn btn-delete btn-danger">Delete</a>
          </div>
          {% endif %}
        </td>
      </tr>
    -->
      {% for transaksi_topup_dpay in daftar_transaksi_topup_dpay %}
      <tr>
        {% if request.session.user_email == transaksi_topup_dpay.0 and request.session.user_role == 'pelanggan' or request.session.user_role != 'pelanggan' %} 
        <td>{{ transaksi_topup_dpay.0 }}</td>
        <td>{{ transaksi_topup_dpay.1 }}</td>
        <td>{{ transaksi_topup_dpay.2 }}</td>
        <td>
          {% if request.session.user_role != kurir %}
          <div class="d-flex">
            <a href="{% url 'transaksi_topup_dpay:update_transaksi_topup_dpay' email=transaksi_topup_dpay.0 tanggal=transaksi_topup_dpay.1 %}" class="btn btn-primary mr-2">Update</a>
            <a href="{% url 'transaksi_topup_dpay:delete_transaksi_topup_dpay' email=transaksi_topup_dpay.0 tanggal=transaksi_topup_dpay.1 %}" class="btn btn-delete btn-danger">Delete</a>
          </div>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% if request.session.user_role == 'staff' %}
<div class="d-flex justify-content-center">
  <a class="btn btn-primary mt-4" href="{%url 'transaksi_topup_dpay:create_transaksi_topup_dpay' %}"> Buat Transaksi Top Up DPAY </a>
</div>
{% endif %}

{% endblock content %}
