{% extends 'base.html' %} 
{% block title %} Update Transaksi TOP UP DPAY{% endblock %}
{% block content %}
<h3 class="mt-5 text-center">FORM UPDATE TRANSAKSI TOP UP DPAY</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'transaksi_topup_dpay:daftar_transaksi_topup_dpay' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
<!-- This is mockup code
    <div class="form-group">
        <label for="email">Email:</label>
        <input
          disabled
          required
          value="jwild0@moonfruit.com"
          type="email"
          class="form-control"
          id="email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="tanggal">Tanggal:</label>
        <input
          disabled
          required
          value="2020-01-06 18:29:24"
          type="datetime"
          class="form-control"
          id="tanggal"
          name="tanggal"
        />
      </div>
      <div class="form-group">
        <label for="nominal">Nominal:</label>
        <input
          required
          value="73300"
          type="number"
          class="form-control"
          id="nominal"
          name="nominal"
        />
      </div>
-->
    {% for field in form %}
    <div class="form-group">
      {{ field }}
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">UPDATE</button>
    </div>

  </form>
</div>
{% endblock content %}
