{% extends 'base.html' %} {% block css %}
<style>
  #table-container {
    width: 100%;
    overflow-x: auto !important;
  }
  table {
    width: 95% !important;
  }
</style>
{% endblock css %}
{% block title %} Daftar Status Transaksi{% endblock %}
{% block content %}
<h3 class="text-center mt-5">Daftar Status Transaksi</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Kode Status</th>
        <th scope="col">Timestamp</th>
        {% if request.session.user_role == 'staff' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for t in daftar_status %}          
      <tr>
          <td>{{ t.0 }}</td>
          <td>{{ t.1 }}</td>
          <td>{{ t.2 }}</td>
          <td>{{ t.3 }}</td>
        {% if request.session.user_role == 'staff' %}          
        <td>
          <div class="d-flex">
            <form action="{% url 'status_transaksi:update_status_transaksi' %}" method="get">
              <input type="email" name="email" value="{{ t.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ t.1 }}" hidden>
              <input type="text" name="kode" value="{{ t.2 }}" hidden>
              <input type="datetime" name="timestamp" value="{{ t.3 }}" hidden>
              <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'status_transaksi:delete_status_transaksi' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" value="{{ t.0 }}" hidden>
              <input type="datetime" name="tanggal" value="{{ t.1 }}" hidden>
              <input type="text" name="kode" value="{{ t.2 }}" hidden>
              <button class="btn btn-delete btn-danger">Delete</button>
            </form>          
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
