{% extends 'base.html' %} {% block content %}
<h3 class="mt-5 text-center">Update Status Transaksi</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'status_transaksi:update_status_transaksi' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input
        readonly
        required
        value="{{ email }}"
        type="email"
        class="form-control"
        id="email"
        name="email"
      />
    </div>
    <div class="form-group d-none">
      <label for="tanggal">Tanggal Transaksi</label>
      <input
        readonly
        required
        value="{{ tanggal }}"
        type="datetime"
        class="form-control"
        id="tanggal"
        name="tanggal"
      />
    </div>
    <input type="text" hidden value="{{ kode }}" name="old_kode_status">
    <div class="form-group">
      <label for="kodestatus">Kode Status</label>
      <select name="kode_status" id="kode_status" class="form-control" required>
        {% for k in daftar_status %}
        <option {% if k.0 == kode %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="timestamp">Timestamp</label>
      <input
        required
        value="{{ timestamp }}"
        type="datetime"
        class="form-control"
        id="timestamp"
        name="timestamp"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
  <script>
    window.history.replaceState({}, document.title, "/status-transaksi/update/");
  </script>
{% endblock js %} 
